/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;

    background-image: url('undangan-pernikahan-klasik.jpg');
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color:palevioletred;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2rem;
}

/* Section styles */
section {

    background-color: white transparent;
    padding: 2rem;
    margin: 1rem;
    border-radius: 20px ;
    
}

.details{
    background-color: transparent;
}